/* Gerais */
body {
  font-family: "Syne Mono", monospace;
  background: url(../img/fundo.png) repeat;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.container {
  padding: 70px 0;
  margin-bottom: -90px;
}

.row {
  margin: 0;
}

.main-title {
  color: #fc7f0c;
  margin: 20px 0 0px 25px;
  font-size: 40px;
  text-align: left;
}

.btn {
  border: 6px ridge #bbb;
  padding: 10px 30px;
  color: #fbef66;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1e;
}

.btn:hover {
  color: #fbef66;
  border-color: #fbef66;
  background: url("../img/fogo.gif") -10px -30px repeat-x;
}

label,
select,
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

/* Anti-spam */
.nao-aparece {
  visibility: hidden;
  position: absolute;
  height: 0px;
}

/* Barra de navegação */
header,
.navbar {
  background: url(../img/estrelas.gif) repeat;
  height: 50px;
  padding: 20px;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar:after {
  content: "";
  display: block;
  position: absolute;
  border: 3px ridge #bbb;
  border-top: unset;
  width: 9999px;
  height: 5px;
  margin-top: 55px;
  margin-left: -1000px;
  background-color: #bbb;
}

#logo {
  width: 200px;
}

a.navbar-brand {
  color: #fc7f0c;
  display: inline-block;
}

a.navbar-brand img {
  vertical-align: middle;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

a.navbar-brand:hover {
  opacity: 0.75;
}

#navbar-links a {
  font-size: 22px;
  color: #fc7f0c;
  text-shadow: 3px 3px 4px #fc7f0c;
  margin-right: 15px;
}

#navbar-links a:hover {
  opacity: 0.75;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 0.8rem;
}

/* Home */
.col-md-12.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  padding: 40px;
  color: #fc7f0c;
  text-align: center;
  text-decoration: underline;
  width: 100%;
  height: 100%;
  background: url(../img/estrelas.gif) repeat;
}

.home a {
  text-decoration: none;
  color: #fc7f0c;
}

.home a:hover {
  opacity: 0.75;
}

.home h2 {
  margin-bottom: 20px;
}

.container.home img {
  max-width: 100%;
}

.imagem {
  flex-basis: 20%;
}

.gif {
  height: 120px;
}

#faixa {
  height: 3px;
  width: 100%;
  margin-top: -30px;
  border: 2px ridge #bbb;
}

#musica {
  opacity: 0.75;
}

/* Carousel - desativado */
.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
  height: 90vh;
}

.carousel-indicators .active {
  background-color: #fbef66;
}

#cropper1 {
  width: auto;
  height: auto;
  background: url(../img/carousel-1.jpeg) no-repeat center;
  background-size: cover;
}

#cropper2 {
  width: auto;
  height: auto;
  background: url(../img/carousel-2.jpeg) no-repeat center;
  background-size: cover;
}

#cropper3 {
  width: auto;
  height: auto;
  background: url(../img/carousel-3.jpeg) no-repeat center;
  background-size: cover;
}

/* Portfólio */
.project-box {
  margin-bottom: 30px;
}

.project-box img {
  height: 380px;
  width: 400px;
  border: 6px ridge #bbb;
}

#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}

#portfolio-area .filter-btn {
  border: 6px ridge #bbb;
  color: #fc7f0c;
  background-color: #1c1d1b;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px 40px 20px;
}

#portfolio-area .filter-btn.active,
#portfolio-area .filter-btn:hover {
  color: #fbef66;
  border-color: #fbef66;
  background: url("../img/fogo.gif") -10px -30px repeat-x;
}

/* Orçamento */
/* Área de contato */
#contact-area .container .row {
  background: url(../img/estrelas.gif) repeat;
  padding: 20px;
}

#contact-area .container .row:after {
  content: "";
  display: block;
  position: absolute;
  border: 3px ridge #bbb;
  border-top: unset;
  width: 80%;
  margin-top: 75px;
  margin-left: 30px;
  background-color: #bbb;
}

#contact-area h3 {
  font-size: 36px;
  margin-left: 40px;
}

.contato-form {
  padding: 25px;
  margin-top: 40px;
  margin-left: 25px;
}

.contato-form label {
  color: #fc7f0c;
  text-shadow: 5px 5px 5px #000;
  font-size: 20px;
  text-align: right;
}

#label-pedido {
  position: absolute;
  margin-left: -137px;
}

.contato-form textarea,
.contato-form input {
  background-color: #000;
  border: 1px solid #fbef66;
  width: 60%;
  color: #fbef66;
  padding: 4px;
  outline: none;
  margin-bottom: 20px;
}

.contato-form textarea {
  margin-left: 116px;
}

.contato-form input {
  margin-left: 29px;
}

#btn-form {
  width: 50%;
  padding: 20px;
  background-color: #000;
  text-align: center;
  margin-left: 25%;
}

.contato-form button {
  margin-top: 25px;
  padding: 7px 40px;
}

/* Orçamento */
/* Tabela de preços */
.table-bordered {
  border: 1px solid #fc7f0c;
  border-collapse: separate;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

table {
  max-width: 100%;
  width: 500px;
  background-color: transparent;
  border-spacing: 0;
  margin-top: 95px;
  margin-left: -30px;
  height: 50%;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #000;
}

.table-striped tbody > tr:nth-child(odd) > td {
  color: #fc7f0c;
}

.table th {
  color: #fbef66;
  font-size: 20px;
  text-align: center;
}

.table td {
  color: #fc7f0c;
  font-size: 18px;
  text-align: center;
}
